<h1>Home</h1>
<%= link_to 'Home', root_path %>
<%= link_to 'Profile', pilot_profiles_path %>
<%= link_to 'Flight Plans', flight_plans_path %> 
<%= link_to 'Forum', forum_posts_path %>
<%= link_to 'Map', map_path %>
