<div id="<%= dom_id pilot_profile %>">
  <p>
    <strong>First name:</strong>
    <%= pilot_profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= pilot_profile.last_name %>
  </p>

  <p>
    <strong>Aircraft ident:</strong>
    <%= pilot_profile.aircraft_ident %>
  </p>

  <p>
    <strong>Aircraft type:</strong>
    <%= pilot_profile.aircraft_type %>
  </p>

  <p>
    <strong>Home address:</strong>
    <%= pilot_profile.home_address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= pilot_profile.phone_number %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= pilot_profile.bio %>
  </p>

</div>
