<p style="color: green"><%= notice %></p>

<%= render @pilot_profile %>

<div>
  <%= link_to "Edit this pilot profile", edit_pilot_profile_path(@pilot_profile) %> |
  <%= link_to "Back to pilot profiles", pilot_profiles_path %>

  <%= button_to "Destroy this pilot profile", @pilot_profile, method: :delete %>
</div>
