<div id="<%= dom_id flight_plan %>">
  <p>
    <strong>Departure:</strong>
    <%= flight_plan.departure %>
  </p>

  <p>
    <strong>Time of departure:</strong>
    <%= flight_plan.time_of_departure %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= flight_plan.route %>
  </p>

  <p>
    <strong>Cruising altitude:</strong>
    <%= flight_plan.cruising_altitude %>
  </p>

  <p>
    <strong>True airspeed:</strong>
    <%= flight_plan.true_airspeed %>
  </p>

  <p>
    <strong>First landing:</strong>
    <%= flight_plan.first_landing %>
  </p>

  <p>
    <strong>Time until first:</strong>
    <%= flight_plan.time_until_first %>
  </p>

  <p>
    <strong>Fuel hours:</strong>
    <%= flight_plan.fuel_hours %>
  </p>

  <p>
    <strong>Number of passengers:</strong>
    <%= flight_plan.number_of_passengers %>
  </p>

  <p>
    <strong>Extra info:</strong>
    <%= flight_plan.extra_info %>
  </p>

</div>
