<div id="<%= dom_id forum_post %>">
  <p>
    <strong>Post topic:</strong>
    <%= forum_post.post_topic %>
  </p>

  <p>
    <strong>Post text:</strong>
    <%= forum_post.post_text %>
  </p>

  <% forum_post.comments.each do |comment| %>
    <div class="comment">
      <p><strong>Pilot:</strong> <%= comment.pilot_profile&.first_name || "Guest" %></p>
      <p><%= comment.body %></p>
    </div>
  <% end %>
</div>
