<div class="container d-flex flex-column form-group align-items-center mb-3">
<p style="color: green"><%= notice %></p>

<h2><%= @forum_post.pilot_profile&.first_name %>'s Post </h2>

<%= render @forum_post %>
  
<%= form_with(model: [@forum_post, @comment], local: true) do |form| %>
    <%= form.label :body, "Create Comment" %>
    <%= form.text_area :body, class: "form-control mb-2" %>
  <%= form.submit "Add Comment", class: "btn btn-primary mt-1 mb-2" %>
<% end %>
</div>

<div class="d-flex flex-column form-group align-items-center">
  <%= link_to "Edit this forum post", edit_forum_post_path(@forum_post), class: "btn btn-warning mb-2 btn-sm"%>
  <%= link_to "Back to forum posts", forum_posts_path, class: "btn btn-success mb-2 btn-sm" %>
  <%= button_to "Delete Post", @forum_post, method: :delete, class: "btn btn-danger btn-sm" %>
</div>




